﻿input.input-validation-error {
    border-color: red !important;
}

.alert{
    margin-bottom: 0px !important;
}

select.input-validation-error {
    border-color: red !important;
}

ul > li > a {
    white-space: nowrap;
}

.invi-form{
    border : 0 !important;
    background-color: white !important;
}

.hidden{
    display: none;
}

.custom-container {
    /*max-width: 1560px !important;*/
}

.no-salary {
    background-color: #f28a96 !important;
}

textarea.input-validation-error {
    border-color: red;
}

.page-list-footer{
    margin: 10px !important;
}

.img-responsive{
    width: auto;
    height: auto;
}

.container-auth-bg {
    background-image: url('../img/backdrop.png'),radial-gradient(#CCC,#DDD) !important;
}

.bg-gradient-yellow{
    color: #FFF !important;
}

.dropdown-menu{
    font-size: 14px !important;
}

.navbar{
    margin-bottom: 20px !important;
}

a.dropdown-item{
    line-height: 20px !important;
}

.custom-table{
    vertical-align: middle !important;
    font-size: 14px !important;
}

.custom-nav {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    line-height: 20px;
}

nav{
    border: 0 !important;
    padding: 0 !important;
    line-height: 40px !important;
}

body {
    background: #d2d6de;
}

.select2-results__option, nav {
    font-size: 14px !important;
}

#showMore{
    display:none;
}

table thead th{
    vertical-align: middle !important;
}

.bg-white {
    background-color: white !important;
}

.custom-alert-danger {
    border-color: #d73925;
    border-radius: 3px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
}

.cust-font-10{
    font-size: 10px !important;
}

.cust-font-14 {
    font-size: 14px !important;
}

.custom-bg-lime {
    color: #ADFE95 !important;
}

.custom-bg-cyan {
    color: #C2FCFE !important;
}

.custom-warning {
    color: #8a6d3b;
}

.custom-bg-success {
    background-color: #dff0d8;
}

.custom-bg-danger {
    background-color: #f2dede;
}

.custom-bg-warning {
    background-color: #fcf8e3;
}

.consolidated {
    position: fixed;
    top: auto;
    left: 1%;
    bottom: auto;
    right: 1%;
}

.table-add{
    text-align:right;
    vertical-align:middle!important;
    font-size: 14px;
    font-weight:bold;
    background-color: #F5F5F5;
}

.modal-body{
    padding: 12px;
}

.bg-pregnant {
    color: #3C763D;
    background-color: #f2dede;
}

#pregnant-form-modal span {
    color: #1e8a2a;
}

.col-cs{
    padding-left:3px;
    padding-right: 3px;
}

.preg-btn{
    display:inline-block;
    margin: 0 auto;
}

input {
    display: inline;
}

/*td{
    padding: 8px!important;
}*/

label {
    display: inline !important;`
    text-align: left!important;
}

.modal{
    font-size: 14px!important;
}

.modal-lg{
    max-width: 900px!important;
}

.alert-warning {
    background-color: #F39C12 !important;
    background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
}

.pregnant-bg-warning {
    background-color: #fcf8e3;
}

a{
    cursor:pointer;
}

.title-info {
    color: #F39C2B !important;
}

.title-info, .title-desc{
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
}

.bg-gradient-warning, btn-warning {
    color: #FFF !important;
}

#normal-form-modal span {
    color: #e08e0b;
}

.title-form{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 30px;
    margin-top: 20px;
}

.patientTitle {
    font-size: 1.4em;
    font-weight: bold;
    color: #AC2020;
}

.patient-color {
    font-weight: bold;
    color: #28A745;
}

.custom-float-right{
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
}

.md-color {
    font-weight: bold;
    color: #17A2C2;
}

.facility-color {
    color: #ff8456;
    white-space: nowrap;
}


.card-custom-bg {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.tracking-activities{
    background: #EFEFEF;
    padding: 5px;
}

.table-date{
    white-space: nowrap;
    vertical-align: top;
    padding-right: 2em;
}

.code-color{
    color: #F39C12;
}

.hospital-color{
    font-weight: bold;
    color: #9D7311;
}

.contact-color {
    font-weight: bold;
    color: #437EA9;
}

.badge-bg{
    background-color: #F18B3C !important;
}

html {
    position: relative;
    min-height: 100%;
}

.btn-margin-right{
    margin-right: 5px;
}


.set-height {
    margin-bottom: 40px !important;
}

.printablePregnantForm span {
    color: #1E8A29 !important;
}

footer {
    background-color: #2F4054;
    bottom: 0;
    color: #707070;
    margin-top: 100px !important;
    height: 40px;
    left: 0;
    position: absolute;
    width:100%;
    align-items: center;
}

/*
.referral-footer {
    position: fixed;
    bottom: 0;
    border: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px !important;
    background-color: 
}*/

/* Semi-bold Filter text */
h5 {
    font-weight: 600;
}

.search-input-group .form-control-navbar {
    border-color: #0aafcd; /* Blue color for the input border */
}

.search-input-group .btn-navbar {
    border-color: #0aafcd; /* Blue color for the button border */
}

.search-input-group .input-group {
    border: 1px solid #0aafcd; /* Blue border around the entire input group */
    border-radius: 5px;
    overflow: hidden;
}

.custom-btn {
    background-color: #17a2b8;
    color: white; /* Change text color if needed */ 
}